<%- include('./partials/head.ejs') %>

<header class="user-dashboard-header">
    <nav class="user-nav">
        <div>
            <h2>Miss Vogue Nigeria</h2>
            <div class="user-toggle">
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>
        <div>
            <ul>

            </ul>
        </div>

    </nav>
    <section class="container quick-access">
        <div>
            <span>
                <i class="fa fa-search"></i>
            </span>
            <span>
                <i class="fa fa-bell"></i>
            </span>
            <span>
                <i class="fa fa-envelope"></i>
            </span>
        </div>
        <div>
            <div class="identity">
                <span class="avatar-wrapper">
                    <i class="fa fa-user"></i>

                </span>
                <span>John Doe</span>
            </div>

        </div>
    </section>

</header>
<main class="user-dashboard">
    <section class="container">
        <header>
            <h2 class="dashboard">Dashboard</h2>
            <div class="bread-crumbs"><a href="/">Dashboard</a></div>
        </header>
    </section>
    <div class="summary-board">
        <section>
            <section class="container">
                <div>


                    <div>
                        <h3>icon</h3>

                    </div>
                    <div>
                        Total Votes
                        <div><%= totalVotes %></div>
                    </div>
                </div>
            </section>
            <section class="container">
                <div>


                    <div>
                        <i class="fa fa-star" aria-hidden="true"></i>

                    </div>
                    <div>
                        Number of contestants
                        <div><%= contestants.length %></div>
                    </div>
                </div>

            </section>

            <section class="container">
                <div>
                    <div>
                        <i class="fa fa-star" aria-hidden="true"></i>

                    </div>
                    <div>
                        Contestant wit highest vote
                        <div><%= contestants[0].name %></div>
                    </div>
                </div>

            </section>
        </section>
        <div></div>
        <div></div>
    </div>
    <section class="contestants-details">
        <div>
            <% contestants.forEach(contestant=>{ %>
            <div class="center-text contestant">
                <div>

                </div>
                <div>
                    <h3><a href="/admin/<%= contestant.name %>">Name:
                            <%= contestant.name %></a>
                    </h3>
                    <h3>State: <%= contestant.state %></h3>
                    <h3>Votes: <%= contestant.votes %></h3>
                </div>
            </div>

            <%})%>
        </div>
    </section>
</main>
<footer>
    <section class="rights">
        <div class="center-text">
            <span> &copy;Miss Vogue Nigeria 2020. All Rights Reserved.</span>
            <span>Created with <i class="fa fa-heart" aria-hidden="true"></i> by Smartech Global</span>
        </div>


    </section>
</footer>

</body>

</html>